@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Serif", serif;
font-family: "Inter", sans-serif;
*/
body{
    background-color: #f5f8ff;
}
*{
    margin: 0;
    padding: 0;
}
.headings{
    font-family: "Noto Serif", serif;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
}
.f16{
    font-size: 16px;
}
.para{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0,0,0, 50%);
}
.clrw{
    color: white;
}
.clr{
    color: rgba(0, 0, 0, 0.692);
}
.wd{
    width: 1140px;
}
.clrOr{
    color: #E95A08;
}
nav{
    width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu, .menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-family:"Inter" ;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.menu p {
    display: flex;
    justify-items: center;
    gap: 7px;
    cursor: pointer;
}
.hero{
    display: flex;
    width: 1140px;
    margin: 120px auto;
    justify-content: center;
    align-items: last baseline;
}
.heroText h1{
    font-size: 65px;
}
.plansSec{
    margin: 150px auto;
    text-align: center;
}
.plans h2{
    font-size: 50px;
    padding: 6px;
}
.plans p{
    padding: 10px 50px;
}
.products{
    margin: 90px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.pCards{
    margin-bottom: 20px;
}
.pDt{
    padding: 20px 0;
}
.pDt p{
    line-height: 35px;
}
.addCart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #E95A08;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    margin: 0 auto;
    width: 98%;
}
.addCart:hover{
    background-color: #17aa04;
}