@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Serif", serif;
font-family: "Inter", sans-serif;
*/
body{
    background-color: #f5f8ff;
}
*{
    margin: 0;
    padding: 0;
}
.headings{
    font-family: "Noto Serif", serif;
}
p{
    font-family: "Inter", sans-serif;
    font-size: 22px;
}
.f16{
    font-size: 16px;
}
.para{
    font-family: "Inter", sans-serif;
    font-size: 22px;
    color: rgba(0,0,0, 50%);
}
.clrw{
    color: white;
}
.clr{
    color: rgba(0, 0, 0, 0.692);
}
.wd{
    width: 1140px;
}
.clrOr{
    color: #E95A08;
}
nav{
    width: 1140px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu, .menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    font-family:"Inter" ;
    list-style: none;
}
.menu ul li a{
    text-decoration: none;
}
.menu p {
    display: flex;
    justify-items: center;
    gap: 7px;
    cursor: pointer;
}
.hero{
    display: flex;
    width: 1140px;
    margin: 120px auto;
    justify-content: center;
    align-items: last baseline;
}
.heroText h1{
    font-size: 65px;
}
.plansSec{
    margin: 150px auto;
    text-align: center;
}
.plans h2{
    font-size: 50px;
    padding: 6px;
}
.plans p{
    padding: 10px 50px;
}
.products{
    margin: 90px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.pCards{
    margin-bottom: 20px;
}
.pDt{
    padding: 20px 0;
}
.pDt p{
    line-height: 35px;
}
.addCart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #E95A08;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.5s;
    margin: 0 auto;
    width: 98%;
}
.addCart:hover{
    background-color: #17aa04;
}
.plantLover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 60px;
}
.loverImg{
    display: flex;
    position: relative;
}
.trusted-badge{
    width: 280px;
    height: 280px;
    position: absolute;
    top: -130px;
    left: 68%;
}
.Lover{
    width: 540px;
    padding-top: 30px;
}
.Lover h2{
    font-size: 50px;
}
.quotes{
    padding: 30px;
}
.quotes li{
    padding: 10px 0px;
}
.latestDeals{
    margin: 100px auto;
    text-align: center;
}
.dealData{
    margin: 50px 0;
}
.dealData h2{
    font-size: 50px;
    padding: 20px 0;
}
.dealData p{
    padding: 0 50px;
}
.dealsCards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.dCard{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: invert(90%);
    color: white;
    height: 200px;
    border-radius: 10px;
}
.shadow{
    background-color: rgb(0, 0, 0);
    position: absolute;
    border-radius: 10px;
    inset: 0;
    opacity: 0.4;
    z-index: 0;
}
.dCardDet{
    z-index: 15;
    line-height: 20px;
}
.dCardDet h3{
    font-size: 25px;
    padding: 10px;
}
.dCardDet a{
    color: white;
    font-family: "Inter";
}
.c2{
    background-image: url(assets/deal-ana.png);
    grid-row-start: 2;
}
.bigCard{
    background-image: url(assets/deal-zabo.png);
    height: 100%;
    grid-column: span 2;
    grid-row: span 2;
}
.bigCard h3{
    font-size: 40px;
    padding: 20px;
}
.bigCard a{
    font-size: 25px;
}